{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"]
  },
  "env": {
    "browser": true
  }
}
